/*重置样式*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
img{
    width: 100%;
    height:100%;
}
a {
    text-decoration: none;
}
#header{/*
    height: 9.65%;*/
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 8px 0px gray;
}
#header_logo{
    margin-left: 43%;
    width: 14%;
    float: left;
    margin-top: 2.26%;
    margin-bottom: 2.26%;
}
#sideMenuLogo{
    float: right;
    width: 5.92%;
    margin-top: 3.26%;
    margin-right: 3.26%;
    margin-bottom: 2.26%;
}
.header{
    float: left;
}
.title{
    color: black;
    font-size: 26px;
    line-height: 26px;
    font-weight: 900;
}
.title-en{
    color: black;
    font-size: 9px;
    line-height: 9px;
    font-weight: 600;
}
.location-title{
    color: black;
    font-size: 9px;
    line-height: 9px;
    font-weight: 200;
}
.desc-title {
    color: black;
    font-size: 9px;
    line-height: 9px;
    font-weight: 100;
}
.header{
    float: left;
}

#myswiper{
    /*overflow: hidden;*/
    width: 100%;
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -12%;
    left: 0;
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#swiper-bottom-label{
    display: inline;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 24%;
    text-align: center;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)); ;
}
#swiper-bottom-label1{
    display: inline;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 24%;
    text-align: center;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)); ;
}
.swiper-bottom-label{
    position:  absolute;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    bottom: 10%;
}

#descBlock{
    position: absolute;
    width: 100%;
    margin-top: 13%;
    height: 14.37%;
}
#block-desc-container{
    position: relative;
    width: 94%;
    height: 100%;
    margin:0 auto;
}

.block{
    border-radius: 8px;
    width: 32%;
    height: 100%;
    float: left;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding-left: auto;
    padding-right: auto;
}
#block1{
    background: url("../images/1.jpg");
    position: relative;
    background-size: cover;
    height: 100%;
}
#block2{
    background: url("../images/2.jpg");
    position: relative;
    background-size: cover;
    height: 100%;
}
#block3{
    background: url("../images/3.jpg");
    position: relative;
    background-size: cover;
    height: 100%;
}
.block-right{
    margin-left: 1.62%;
}
.block-desc-label{
    position: absolute;
    width: 100%;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
#partners{
    position: absolute;
    bottom: 6.16%;
    width: 100%;
    height: 19.267%;
    background: url("../images/bottom_bg.jpg");
    background-size: 100% 100%;
}
#partner-container{
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
}
#partners-label{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #515153;
    font-weight: 500;
}
#partner-icons{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#swiper-partners-container{
    width: 100%;
}

.footer{
    bottom: 0%;
    position: absolute;
    width: 100%;
    height: 6.16%;
    text-align: center;
    background-color: #393A3F;
}
.footer-icon{
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon-container{
    margin: 0 auto;
    width: 25%;
}
#QR_code-container {
    z-index: 500;
    position: absolute;
    padding: 10%;
    background-color: #fff;
    display: none;
}
.Opacity1{
    opacity: 1;
}
#nav-back-button {
    width: 40px;
    height: 40px;
    /* border: 1px solid #D4CD49; */
    background-color: #26262687;
    box-shadow: 0 0 3px 1px #afafaf;
    opacity: 0.8;
    border-radius: 70px;
    position:fixed;
    left: 4%;
    bottom: 8%;
    z-index: 10;
}
#back-button-container{
    width: 20px;
    height: 20px;
    margin: 10px;
}
#back-button-container>#back-button{
    width: 100%;
    height: 100%;
}